/* IMPOSTAZIONI GENERALI */
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  color: #393d41;
  line-height: 1.5;
  text-align: center;
  display: block;
}
ul {
  list-style-type: none;
}
/* HEADER */
header div {
  background-color: black;
  padding: 1.5em 0.5em;
}
header div img {
  width: 40%;
}
/* main */
.banner {
  background-image: url(/images/banner.jpg);
  background-size: cover;
  background-position: center;
}
main div article {
  padding: 26px;
}
h1,
h2 {
  color: #25a2c3;
  font-weight: bold;
}
h1 {
  font-size: 35px;
  line-height: 1.2;
}
main div article p {
  padding-bottom: 5%;
  padding-top: 5%;
}
.bottone {
  padding: 37px;
}
.bottone {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #f04c2f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
  }

/* prova hover */
.bottone:hover {
    transform: scale(1.1);
  }
.centrale {
  padding-top: 15%;
}
.centrale h2 {
    font-size: 22px;
    padding-bottom: 3%;
}
main div section div {
  padding: 3%;
  padding-bottom: 5%;
}
main div section div img {
  border-radius: 80%;
  width: 70%;
}
.spazietto {
    padding-bottom: 10%;
}
.allertrosso {
  background-color: #e22d0e;
  color: white;
  padding: 8%;
}
h3 {
  font-size: 32px;
  color: white;
  font-weight: bold;
}
.nnn {
  font-size: 14px;
  font-style: italic;
  padding-top: 5%;
}
.n {
  font-size: 18px;
  padding-top: 7%;
}
.nn {
  font-size: 13px;
}
.colonna {
  padding: 8%;
}
.immaginiincolonna {
  width: 100%;
}
.blocco {
  border: 1px solid #dee1e3;
  margin-top: 8%;
}
.blocco h2 {
  padding-top: 5%;
}
.blocco p {
  padding: 6%;
  font-size: 15px;
}
footer {
  background-color: #25a2c3;
  padding: 10%;
  color: #c8e7f0; /* colore testo footer */
}
footer h3 {
  padding-bottom: 5%;
  font-size: 45px;
}
footer p {
  padding-top: 5%;
}
.riganera {
  border-top: 1px solid rgb(255, 255, 255);
  padding-top: 1%;
  display: inline-block;
  width: auto;
  text-align: center;
}
footer address {
  padding-bottom: 10%;
}
footer a {
  color: #c8e7f0;
}
/*comportamento icone*/
footer i {
  color: white; 
  margin-right: 5px;"
}
